.nav-ul {
    list-style-type: none;
    margin: 0;
    padding-left: 27%;
    overflow: hidden;
    background-color: #333;
}

.nav-li {
    float: left;
    margin-left: 30px;
}

.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-li a:hover {
    background-color: #111;
    color: #33ccff;
    text-decoration: none;
}
.active {
    background-color: #33ccff;
}